body    {
    background-color: darkgrey;
    margin: auto;
    background-image: url(IMG_0379.jpg);
    border: solid 7.5px black;
    border-radius: 35px;
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}
a:hover {
    color: lightblue;
    background-color: grey
}
a   {
    background-color: darkgrey;
    color: blue;
}
img {
    width: 500px;
    display: inline-block;
}
.work   {
    display: inline-block;
}
